.note {
  min-width: 240px;
  height: fit-content;
  padding: 1rem;
  border-radius: 8px;
  align-items: flex-start;
}

.note_content {
  text-align: left;
  outline: 2x solid;
}

.note_title,
.note_body {
  width: 100%;
}

.note_footer {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.appliedLabel {
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  top: 0px;
  color: var(--TEXT);
  font-weight: bold;
  font-size: small;
  width: fit-content;
  border: 1px solid var(--component-grey-05);
}
