/* Create a new note input */
.newNote {
  width: 37.5rem;
  max-width: 100%;
  height: fit-content;
  padding: 1rem;
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.titleInput {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  border: none;
}

.pinNote {
  top: 15px;
  right: 20px;
  border-radius: 50px;
  height: 48px;
  width: 48px;
}

.addNote {
  bottom: 16px;
  right: 20px;
}

/* Home Page Container */
.homepage_container {
  margin: 1rem auto;
  padding: 1rem;
  width: 100vw;
  grid-area: content;
}

.noteslist {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 85%;
  margin-top: 2rem;
  grid-gap: 1rem;
}

.appliedLabel {
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  color: var(--TEXT);
  font-weight: bold;
  font-size: small;
  width: fit-content;
  border: 1px solid var(--component-grey-05);
}
