/* Create a new note input */
.newNote {
  width: 75%;
  max-width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 8;
  background-color: var(--CARD_BG);
}

.titleInput {
  width: 80%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 2px 0px rgb(97 97 97 / 18%);
}

.titleSection {
  justify-content: space-between;
  width: 70%;
}

.pinNote {
  top: 1rem;
  right: 8.75rem;
  border-radius: 50px;
  height: 48px;
  width: 48px;
}

.addbutton {
  top: 1rem;
  right: 5rem;
  border-radius: 50px;
  height: 48px;
  width: 48px;
}

.discardbutton {
  top: 1rem;
  right: 1.25rem;
  border-radius: 50px;
  height: 48px;
  width: 48px;
}

.makeNote {
  position: fixed;
  bottom: 3.75rem;
  right: 3rem;
  border-radius: 50px;
  z-index: 9;
  font-size: 2rem;
  font-weight: normal;
}

.makeNote:hover {
  background-color: var(--component-blue-05);
  border-color: var(--CARD_BG);
  color: var(--CARD_BG);
}

.rotate {
  transform: rotate(45deg);
  border-radius: 16px;
}
/* Home Page Container */
.homepage_container {
  margin: 1rem auto;
  padding: 1rem;
  width: 100vw;
  grid-area: content;
}

.noteslist {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 85%;
  margin-top: 2rem;
  grid-gap: 2.5rem;
}

.appliedLabel {
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  color: var(--TEXT);
  font-weight: bold;
  font-size: small;
  width: fit-content;
  border: 1px solid var(--component-grey-05);
  cursor: pointer;
}

.labelContainer {
  gap: 10px;
  max-width: 100%;
  margin-top: 1rem;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.modules {
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
  height: fit-content;
  padding: 0.5rem 0;
}

.pinned {
  background-color: var(--HOVER_BG_ACTIVE);
}

.hidden {
  background-color: unset;
}

.showEditor {
  bottom: 0rem;
  transition: bottom var(--ANIM) 500ms;
}

.hideEditor {
  bottom: -50rem;
  transition: bottom var(--ANIM) 500ms;
}

.EditorContainer {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  height: calc(100vh - 6rem);
  position: fixed;
  z-index: 8;
}

.emptyImage {
  margin-top: 4rem;
  width: 24rem;
  height: 24rem;
  filter: opacity(1);
  transition: filter var(--ANIM) 1000ms;
}
.emptyTitle {
  filter: opacity(1);
  transition: filter var(--ANIM) 500ms;
}

.hide {
  filter: opacity(0);
  display: none;
  transition: filter, display var(--ANIM) 1000ms;
}

@media only screen and (max-width: 768px) {
  .titleSection {
    width: 100%;
  }

  .EditorContainer {
    height: calc(100vh - 9rem);
  }

  .newNote {
    width: 100%;
  }
  .titleInput {
    width: 50%;
  }
}

@media only screen and (max-width: 479px) {
  .emptyImage {
    margin-top: 3rem;
    width: 18rem;
    height: 18rem;
  }

  .EditorContainer {
    height: calc(100vh - 9rem);
  }
}
