.selector {
  width: 100%;
}

.showSort {
  width: fit-content;
  min-width: 10rem;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  height: fit-content;
  background-color: red;
}

.hideSort {
  height: 0px;
}

.sortlist_container {
  z-index: 15;
  top: 4rem;
  right: 0;
  width: fit-content;
  height: fit-content;
  min-width: 18rem;
  background-color: var(--CARD_BG);
  border-radius: 8px;
  gap: 10px;
  justify-content: flex-end;
}

.showDropdown {
  height: 26rem;
  padding: 0.5rem;
}

.hideDropdown {
  height: 0rem;
  padding: 0;
}

.sortOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  border: 2px solid var(--component-grey-02);
  padding: 0.75rem 0.75rem;
  border-radius: 16px;
}

.hideSort {
  height: 0px;
}

.showDropdown {
  height: 25rem;
  padding: 0.5rem;
}

.hideDropdown {
  height: 0rem;
  padding: 0;
}

.showOptions {
  transform: scale(1);
}

.hideOptions {
  transform: scale(0);
}
