.selector {
  width: 100%;
}

.showFilter {
  width: fit-content;
  min-width: 10rem;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  height: fit-content;
  background-color: red;
}

.hideSort {
  height: 0px;
}

.filterlist_container {
  z-index: 15;
  top: 4rem;
  right: 0;
  width: fit-content;
  height: fit-content;
  max-width: 18rem;
  background-color: var(--CARD_BG);
  border-radius: 8px;
  gap: 10px;
  justify-content: flex-end;
}

.showDropdown {
  height: 26rem;
  padding: 0.5rem;
}

.hideDropdown {
  height: 0rem;
  padding: 0;
}

.filterOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  border: 2px solid var(--component-grey-02);
  padding: 0.75rem 0.75rem;
  border-radius: 16px;
}

.showOptions {
  transform: scale(1);
}

.hideOptions {
  transform: scale(0);
}

.add_label {
  padding: unset;
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  color: var(--TEXT);
  font-weight: bold;
  font-size: small;
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--component-grey-05);
}
.add_label:hover {
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--component-grey-05);
}

.label_container {
  gap: 10px;
  width: 100%;
  flex-wrap: nowrap;
  padding: 0.75rem 0.25rem;
  overflow-x: scroll;
}

.color_container {
  gap: 10px;
  width: 100%;
  padding: 1rem 0.25rem;
  justify-content: space-evenly;
}

.label_icon {
  padding: unset;
  padding-right: 0.3rem;
}

.color {
  width: 2rem;
  height: 2rem;
  color: var(--TEXT);
  font-size: small;
  border-radius: 50px;
  transform: scale(1);
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 250ms;
}

.color:hover {
  transform: scale(1.2);
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 150ms;
}

.clear_btn {
  align-items: flex-end;
  border: none;
  justify-content: flex-end;
}

.filterLabel {
  font-weight: bold;
  font-size: small;
  color: var(--GREY_TEXT);
  top: -10px;
  background-color: var(--CARD_BG);
  padding: 0 0.5rem;
  border-radius: 40px;
  left: 20px;
}
