.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 20rem;
  position: absolute;
  align-items: flex-start;
  padding-top: 2rem;
  top: 7rem;
  left: 0px;
  z-index: 2;
  background-color: var(--CARD_BG);
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 500ms;
}

.hideSidebar {
  left: -20rem;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 500ms;
}

.sidebarItem {
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0;
  border-radius: 0 50px 50px 0;
  font-weight: bold;
}

:global .active {
  background-color: var(--component-yellow-01);
  color: var(--black);
  border: 2px solid var(--component-yellow-05);
}
