.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 20rem;
  position: absolute;
  align-items: flex-start;
  padding-top: 2rem;
  top: 5rem;
  left: 0px;
  z-index: 10;
  background-color: var(--CARD_BG);
  transition: all var(--ANIM) 500ms;
  box-shadow: 0 4px 6px var(--component-grey-02);
}

.hideSidebar {
  left: -20rem;
  transition: all var(--ANIM) 500ms;
}

.sidebarItem {
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  border-radius: 2px;
  font-weight: bold;
  color: var(--component-grey-05);
}

.sidebarlabel {
  background-color: inherit;
  border: 2px solid transparent;
}

.labelActive {
  background-color: var(--component-yellow-01);
  color: var(--TEXT);
  border: 2px solid transparent;
}

.labelActive span {
  background-color: var(--component-yellow-02);
  color: var(--component-yellow-05);
  margin-right: 1rem;
  transition: background-color, margin var(--ANIM) 500ms;
}

:global .active {
  background-color: var(--component-yellow-01);
  color: var(--TEXT);
}

:global .active span {
  background-color: var(--component-yellow-02);
  color: var(--component-yellow-05);
  margin-right: 1rem;
  transition: background-color, margin var(--ANIM) 500ms;
}
.categoryTitle {
  padding: 0rem 3rem;
  margin: 0.5rem 0 1rem 0;
  color: var(--component-grey-03);
}
@media only screen and (max-width: 768px) {
  .sidebar {
    top: 9rem;
  }
}
