@import url("https://iridescent.netlify.app/stylesheets/index.css");

:root {
  --CARD_BG: hsla(0, 0%, 100%, 1);
  --TEXT: hsla(0, 0%, 0%, 1);
  --TEXT_WHITE: #ffffff;
  --GREY_TEXT: var(--component-grey-04);
  --HOVER_BG: transparent;
  --HOVER_BG_ACTIVE: hsla(0, 0%, 80%, 0.3);
  --BORDER: 2px solid var(--component-grey-01);
  --ANIM: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.App {
  text-align: center;
  font-family: "Manrope", sans-serif;
  min-width: 100vw;
  background-color: var(--CARD_BG);
  color: var(--TEXT);
  min-height: 100vh;
  height: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7rem auto;
  grid-template-areas:
    "navbar"
    "content";
}

.transparent-btn {
  background-color: transparent;
  border: 0px;
}

.btn_action {
  width: 3rem;
  height: 3rem;
  background-color: var(--HOVER_BG);
  color: var(--TEXT);
  border-radius: 50px;
}

.btn_action:hover {
  width: 3rem;
  height: 3rem;
  background-color: var(--HOVER_BG_ACTIVE);
  color: var(--TEXT);
  border: var(--BORDER);
}

.content {
  grid-area: content;
  width: 100%;
}

.all-yellow {
  --PRIMARY_LIGHT: var(--component-yellow-02);
  --PRIMARY: var(--component-orange-04);
  --PRIMARY_DARK: var(--component-yellow-04);
  --TEXT: var(--black);
  --TEXT_LIGHT: var(--component-grey-04);
}

.all-blue {
  --PRIMARY_LIGHT: var(--component-blue-01);
  --PRIMARY: var(--component-blue-04);
  --PRIMARY_DARK: var(--component-blue-04);
  --TEXT: var(--white);
  --TEXT_LIGHT: var(--component-grey-04);
}

.btn .material-icons-outlined {
  font-size: 1rem;
  outline: 0px solid;
}

input[type="checkbox"] {
  margin: unset;
}
